.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3C493F;
  color: #969A97;
  text-align: center;
  height: 65px;
  margin-top: 1%;
  .copy-right{
    margin: auto;
  }
}
