<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="#"><img class="logo" src="../../assets/kdb_logo.svg" alt=""></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['home']" class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['about']" class="nav-link active">About</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['experience']" class="nav-link active">Experience</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['contact']" class="nav-link active">Contact</a>
      </li>
    </ul>
  </div>
</nav>
