/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import "variables";
@import "custom";
@import "../../node_modules/font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Taviraj|Work+Sans');

body {
  padding-bottom: 70px;
  background: #FCF7FF;
}

.push {
  height: 150px;
}

.starter-template {
  padding: 5% 7.5%;
}
