<div class="container">
  <div class="intro-container">
    <p class="intro">Hello, my name is Kishan. I am a Front End Developer living in Atlanta, GA.</p>
  </div>

  <div class="hero-banner">
    <img class="banner-image img-fluid" src="http://via.placeholder.com/1323x450" title="replace me!">
  </div>

  <div class="description-container">
    <h5 class="description-header"><b>Services:</b></h5>
    <!--UI/UX section STARTS here-->
    <h6 class="description-subheader">UI/UX DESIGN</h6>
    <p class="description">UI/UX design requires a deliberate analysis of factors influencing the interaction between the user and
      the product. To do this I consider the following equations:</p>
    <!--<ul style="list-style: none">-->
      <p class="description equation"><b>User Experience</b> <span
        class="equation-variables"> = Why + What + How</span></p>
      <br>
      <ul style="list-style: none">
        <li class="description">
          <em><span class="equation-variables">Why </span></em>  involves the users’ motivation for adopting a product,
          whether the the user relates to the task they wish to perform with the product, or the values and views associated with the
          ownership
          and use of the product.
        </li>
        <hr>
        <li class="description">
          <em><span class="equation-variables">What </span></em>  addresses the tasks people can complete with the product.
        </li>
        <hr>
        <li class="description">
          <em><span class="equation-variables">How </span></em>  relates to the design of functionality in an accessible
          and aesthetically pleasant way.
        </li>
      </ul>

      <br>

      <hr class="style-one">

      <br>

      <!--UI-->
      <p class="description equation"><b>User Interface</b> <span
        class="equation-variables"> = Visual + Interactions</span></p>
      <br>
      <ul style="list-style: none">
        <li class="description">
          <em><span class="equation-variables">Visual</span></em> involves guiding the user through a product’s interface via interactive elements across all sizes/platforms.
        </li>
        <hr>
        <li class="description">
          <em><span class="equation-variables">Interactions</span></em> are visual responses when a user communicates with a product.
        </li>
      </ul>
    <!--</ul>-->

    <!--UI/UX section ENDS here-->
    <br>
    <!--Front end section STARTS here-->
    <h6 class="description-subheader">FRONT END DEVELOPMENT</h6>
    <p class="description">Front End Development is building out the visual components of a website. Here are some tools I use to build fast, interactive websites:</p>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col">
          <img src="../../assets/html5.svg" title="HTML 5" class="fe-thumbnail">
        </div>
        <div class="col">
          <img src="../../assets/css.svg" title="CSS 3" class="fe-thumbnail">
        </div>
        <div class="col">
          <img src="../../assets/sass.svg" title="SASS" class="fe-thumbnail">
        </div>
        <div class="col">
          <img src="../../assets/js.svg" title="JavaScript" class="fe-thumbnail">
        </div>
        <div class="col">
          <img src="../../assets/angular.svg" title="Angular @latest" class="fe-thumbnail">
        </div>
        <div class="col">
          <img src="../../assets/ts.svg" title="TypeScript" class="fe-thumbnail">
        </div>
        <div class="col">
          <img src="../../assets/bootstrap.svg" title="Bootstrap CSS Framework" class="fe-thumbnail">
        </div>
        <div class="col">
          <img src="../../assets/webstorm.svg" title="WebStorm IDE" class="fe-thumbnail">
        </div>
      </div>
    </div>
    <!--Front end section STARTS here-->
  </div>
</div>
<br>
<hr class="style-two">
<br>

<div class="email-container">
  <p class="intro">Interested in doing a project together?</p>
    <div class="btn email-btn">
      <a href="mailto:kishan.d.bhakta@gmail.com"><span>Email Me</span></a>
    </div>
</div>

<br>
<hr class="style-two">
