/*Home Page Intro*/
.intro-container{
  width: 80%;
  margin: 5% auto;
}
.intro{
  font-family: 'Work Sans', sans-serif;
  font-size: 32px;
}

@include media-breakpoint-up(sm) {
  .intro {
    font-size: 20px;
  }
}

@include media-breakpoint-up(md) {
  .intro {
    font-size: 24px;
  }
}

@include media-breakpoint-up(lg) {
  .intro {
    font-size: 28px;
  }
}

/*Description Header and Description*/
.description-header{

}
