<div class="container">
  <div class="intro-container">
    <p class="intro">Hello, my name is Kishan. I am a Front End Developer living in Atlanta, GA.</p>
  </div>

  <div class="hero-banner">
    <img class="banner-image img-fluid" src="http://via.placeholder.com/1323x450" alt="">
  </div>

  <div class="description-container">
    <h5 class="description-header"><b>About:</b></h5>
    <p class="description">Hello, my name is Kishan. I am a Front End Developer living in Atlanta, GA.</p>
  </div>
  <div class="description-container">
    <h5 class="description-header"><b>Services:</b></h5>
    <h6 class="description-subheader">UI/UX DESIGN</h6>
    <p class="description">Hello, my name is Kishan. I am a Front End Developer living in Atlanta, GA.</p>
    <h6 class="description-subheader">FRONT END DEVELOPMENT</h6>
    <p class="description">Hello, my name is Kishan. I am a Front End Developer living in Atlanta, GA.</p>
  </div>
</div>

